$navbar__blue :#5b8eca;
$navbar__blue-hover : #3d7fca;

$sub-nav : #c1e5ff;

$button__light-blue:#b3dcff;
$button__light-blue-hover:#94c2ee;

$button__blue: #8dc5ff;
$button__blue-hover: #4a8ae2;

$button__red: #e1727c;
$button__red-hover: #db585f;

$table-hover: #b4b4b4;

$input__grey:#ccc;

$border__grey: #a1a1a1;

$shadow: #bbbbbb;

$panel__blue: #4ca9ff;
$panel__red: #ff495a;

$progress__blue : #3b96dc;
$progress__red : #ff6f6d;

$alert__green :#ddf9d2;
$alert__red : #f9bdbd;

$modal__blue: #529fff;;