$navbar__blue :#5b8eca;
$navbar__blue-hover : #3d7fca;

$button__light-blue:#b3dcff;
$button__light-blue-hover:#94c2ee;

$button__blue: #529fff;
$button__blue-hover: #4a8ae2;

$button__red: #e1727c;
$button__red-hover: #db585f;

$table-hover: #b4b4b4;
$input__grey:#ccc;


$border__grey: #a1a1a1;

$shadow:  transparentize(black,0.8);

$panel__blue: #4178c5;
$panel__red: #ff495a;


